body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    /* padding: 20px; */
    padding: 0%;
    /* background-color: whitesmoke; */
      
    background: url(t.jpg);    
    background-position: center center;
    background-size: max(1200px, 100vw);
    /* background-repeat: no-repeat; */
    height: 644px;
    /* position: relative; */
}
header{
    background-position: center;
    background-size: auto;   
}
   
.main-section{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid red; */
    margin-top: 4rem;
    padding: 4rem;
    /* background-color: white; */

    /* width: 420px; */
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    backdrop-filter: blur(9px);
    color: #fff;
    /* border-radius: 12px; */
    /* padding: 30px 40px; */

    box-shadow: 5px -5px 10px -5px rgba(0, 0, 0, 0.482)

}

h1 {
    text-align: center;
}
.search-bar {
    text-align: center;
    margin-bottom: 20px;
}
.search-bar input[type="text"] {
    padding: 12px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: black;
}
.question-link {
    color: rgb(34, 34, 198);
    text-decoration: none;
    display: block;
    padding: 12px;
    border: 1px solid transparent;
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 10px;
    /* font-weight: lighter; */
}
.question-link:hover {
    border-color: blue;
}
/* .dark-mode { */
    /* background-color: #1a202c;
    color: #e2e8f0;
    .main-section{
        background-color: rgb(8, 9, 35);
    }
    .sub-main-section h1 i{
        color: rgb(230, 219, 5);
    }
    header
    {
        background: rgb(8, 9, 35);
    } */
/* } */

button {
    background-color: rgb(10, 131, 179);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(10, 131, 179);

}
.sub-main-section h1 i{
    /* color: rgb(39, 19, 83); */
    color : rgb(10, 131, 179);
}